:root {
	--main-color: #43e97a;
	--light-color: #38f9d7;
	--white-color: #fff;
	--blue-color: #4facfe;
	--silver-color: #e8e8e8;
}
.App {
	min-height: 100vh;
	min-width: 100vw;

	background-image: linear-gradient(to right, var(--main-color) 0%, var(--light-color) 100%);

	display: flex;
	justify-content: center;
	align-items: center;
}
.todo--container {
	position: relative;
	max-width: 900px;
	width: 100%;
	min-height: 80vh;
	border-radius: 5px;
	background: var(--white-color);

	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);

	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-template-areas: 'todo-list todo-items todo-items' 'todo-list todo-items todo-items'
		'todo-list todo-items todo-items';
	color: var(--main-color);
	text-align: center;
}
.todo--list {
	background: var(--silver-color);
	grid-area: todo-list;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-radius: 5px 0 0 5px;
}
.todo--items {
	grid-area: todo-items;
	background: var(--white-color);
	border-radius: 0 5px 5px 0;
}

.todo--list--title {
	color: #41b096;
	text-transform: uppercase;
	font-weight: 700;
	text-align: center;
	padding: 1rem;
}
.line {
	border-bottom: 1px solid var(--silver-color);
}

.todo--ul {
	margin-top: 0.5rem;
	padding: 1rem 2rem;
	list-style: none;
	color: var(--blue-color);
}
.todo--list-items {
	cursor: pointer;
	text-align: left;
	background: var(--silver-color);
	padding: 0.5rem 2rem;
	font-size: 0.8rem;
	border-radius: 3px;
	margin-top: 0.5rem;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.todo--list-items.done {
	color: #41b096;
	text-decoration: line-through;
	background: rgba(232, 232, 232, 0.3);
}
.item--icon {
	width: 20px;
	height: 20px;
}
.item--icon .svg-icon {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.item--icon .svg-icon path {
	fill: var(--blue-color);
}
.item--icon.done .svg-icon path {
	fill: #41b096;
}

.todo--list--ul {
	list-style: none;
	margin-top: 1rem;
	padding: 1rem 2rem;
	flex: 1 2 50%;
}
.todo--list--ul__item {
	font-weight: 700;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	background: var(--white-color);
	color: var(--main-color);
	padding: 0.5rem 1rem;
	border-radius: 10px;
	margin-top: 1rem;
	transition: all 0.3s ease-in-out;
}
.todo--list--ul__item:hover,
.todo--list--ul__item.current {
	background: var(--main-color);
	color: var(--white-color);
	transform: scale(1.1);
}
.todo--list--ul__item .item--icon .svg-icon path {
	fill: var(--main-color);
}
.todo--list--ul__item:hover .item--icon .svg-icon path,
.todo--list--ul__item.current .item--icon .svg-icon path {
	fill: var(--white-color);
}
/* add new list item  */
.btn--container {
	padding: 1rem;
}
.btn {
	cursor: pointer;
	display: inline-block;
	padding: 0.5rem 3rem;
	border-radius: 5px;
	border: 1px solid var(--main-color);
	outline: none;

	text-transform: uppercase;
	font-weight: 900;
	font-size: 1rem;
	transition: all 0.5s ease-in-out;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
.btn.btn-main {
	color: var(--white-color);
	background: var(--main-color);
	border: 1px solid var(--secondary-color);
}
.btn-main:hover {
	background: var(--white-color);
	color: var(--main-color);
	transform: translateY(-0.5rem);
}

/* Toggle container */
.toggle--container {
	position: absolute;
	bottom: 1rem;
	right: 1rem;

	width: 60px;
	height: 60px;
}
.btn-round {
	padding: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
	/* line-height: 150%; */
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
.btn-round svg path {
	fill: var(--white-color);
}
.btn-round:hover {
	background: var(--blue-color);
}
.btn-round:hover svg path {
	fill: var(--silver-color);
}
/* Modal here  */
.modal {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	width: 100vw;
	height: 100vh;

	display: none;
	justify-content: center;
	align-items: center;
}
.modal--active {
	display: flex;
}
.modal--bg {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.6);
	width: 100vw;
	height: 100vh;
	z-index: -1;
}
.modal--close {
	cursor: pointer;
	outline: none;
	border: 0;
	position: absolute;
	top: 2rem;
	right: 2rem;
	background: var(--white-color);
	padding: 0.7rem 1rem;
	border-radius: 50%;

	color: tomato;
	font-weight: 700;
	font-size: 1.2rem;
}
.modal--content {
	border-radius: 10px;
	max-width: 1000px;
	background: var(--white-color);
	display: grid;
	min-height: 80vh;
	grid-template-columns: repeat(5, minmax(200px, 1fr));
	grid-template-rows: auto;
	grid-template-areas: 'bg-image bg-image title title title' 'bg-image bg-image form form form';
}
.modal--content .title {
	grid-area: title;
	text-align: center;
	padding: 2rem 0.5rem;
	text-transform: uppercase;
	font-weight: 300;
	font-family: system, 'helvetica', roboto;
	color: var(--blue-color);
}
.form--image {
	grid-area: bg-image;
	width: 100%;
	/* background: var(--silver-color); */
	border-radius: 5px 0 0 5px;
	background: linear-gradient(to top, #0cebeb, #20e3b2, #29ffc6);
	/* background-image: linear-gradient(-225deg, #3d4e81 0%, #5753c9 48%, #6e7ff3 100%); */
}
.form--image .form--image__svg {
	width: 100%;
	height: auto;
}
.form {
	grid-area: form;
	padding: 2rem 2rem;
	/* background: var(--main-color); */
}
.form--input__container {
	padding: 1rem 0;
	text-align: left;
	color: var(--blue-color);
	font-weight: 700;
}
.form--input__container .input {
	display: block;
	width: 100%;
	background: transparent;
	color: var(--blue-color);
	border: 1px solid transparent;
	border-bottom-color: var(--main-color);
	padding: 1rem 2rem;
	font-size: 1rem;
	font-weight: 700;
}
.form .btn-form {
	width: 100%;
	background: var(--blue-color);
}
.form .btn-form:hover {
	background: var(--main-color);
	color: var(--silver-color);
}

/* Form list  */
.close {
	display: none;
}
.open {
	display: block;
}
@media (max-width: 700px) {
	.App {
		width: 100%;
		padding: 1rem;
		min-width: 80vw;
	}
	.todo--container {
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: repeat(3, 1fr);
		grid-template-areas: 'todo-list ' 'todo-items' 'todo-items';
	}
	.modal {
		padding: 1rem;
	}
	.modal--content {
		max-width: 90vw;
		max-height: 90vh;
		grid-template-columns: 1fr;
		grid-template-areas: 'bg-image ' 'title' 'form' 'form';
		grid-template-rows: 200px 50px auto;
	}
	.form--image {
		border-radius: 5px 5px 0 0;
	}
}
